[Desktop Entry]
Version=1.0
Icon=dolphin-triforce
Exec=env QT_QPA_PLATFORM=xcb dolphin-triforce
Terminal=false
Type=Application
Categories=Game;Emulator;
Name=Dolphin Triforce Emulator
GenericName=Triforce Emulator
Comment=A Triforce Emulator
